#clajaMenuHamburguesa{
    position: absolute;
    height: 100vh;
    width: 350px;
    background-color: white;
    z-index: 1000;
    left: -350px;
    padding: 0 25px;
    transition: left 1s ease;
}

.listaHamburguesa{
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: center;
}

.elementosLista{
    margin: 15px;
}

.aLista{
    font-size: 1.3em;
    color: black;
}